*{
margin: 0;
}

html{
margin: 0;
}

body{
margin: 0;
}


.project a{
  text-decoration:none;
  color: red;
}

.project a:hover{
  color:yellow;
}

.space{
  background: repeating-linear-gradient(
    45deg,
    white,
    white 10px,
    black 10px,
    black 20px
  );
  height:20px;
  border: black solid 5px;
}

.otherSpace{
  background: repeating-linear-gradient(
    -45deg,
    white,
    white 10px,
    black 10px,
    black 20px
  );
  height:20px;
  border: black solid 5px;
}

#icon{
  background-color: white;
  display: flex;
  justify-content: center;
}

.icon{
  display: none;
  border:2px black solid;
  border-radius: 50%;
  padding:5px;
  margin:9px;
  width:35px;
  height:35px;
  text-align: center;
}

.icon a{
  text-decoration:none;
  font-size:36px;
  color:black;
}

.icon:hover{
 border:2px white solid;
 background-color: black;
 
}

.icon:hover a{
  color: white;
}

.progressbar {
  background-color: white;
  border-radius: 13px; /* (height of inner div) / 2 + padding */
  padding: 3px;
  width:60%;
  border:black solid 1px;
  position: relative;
  left: 20%;
  text-align: center;
}

.progressbar > div {
   background-color: black;
    /* Adjust with JavaScript */
   height: 20px;
   border-radius: 10px;
 }

#progressbar1 > div{
  width: 90%;
}

#progressbar2 > div{
  width: 85%;
}

#progressbar3 > div{
  width: 70%;
}

#progressbar4 > div{
  width: 55%;
}

#progressbar5 > div{
  width: 50%;
}

#progressbar6 > div{
  width: 50%;
}

.animationload {
position:fixed;
top:0;
left:0;
right:0;
bottom:0;
background-color:black;
z-index:999999;
}
 
.loader {
width:200px;
text-indent:-99999px;
height:200px;
font-size:0;
position:absolute;
left:50%;
top:50%;
background-image:url(https://www.bookry.com/static/working-white.gif);
background-repeat:no-repeat;
background-position:center;
margin:-100px 0 0 -100px;
}

#mad{
float:left;
}

#photo{
  display:none;
}
 
#header{
  border: 1px black solid;
  background-color: black;
  width:100%;
  position:fixed;
  text-align: right;
  z-index:10000;
  display:none;
  font-size: 20px;
  font-family:"Trebuchet MS", Helvetica, sans-serif;
  height:6%;
  max-width:1280px;
}

#header a{
  text-decoration:none;
  padding:10px;
  color: white;
}

#header a:active{
  text-decoration:none;
  padding:10px;
  color: white;

}

#header a:hover{
  color: grey;

}

h2{
  font-size: 32px;
  font-family: cursive;
  text-align: center;
}

.topPage{
  display:none;
}

.topPage img{
 display: block;
  width: 275px;
  height: 275px;
  margin: 16px auto;
  background-size: cover;
  background-position: center center;
  border-radius: 1500px;
  border: 5px solid #383838 ;
}

.topPage h1{
	font-size: 52px;
	font-family: cursive;
	text-align: center;
}

.aboutme  p, p{
  font-family: "Adobe Caslon Pro", "Hoefler Text", Georgia, Garamond, Times, serif;
  letter-spacing:1.5px;
  text-align:center;
  margin: 50px auto;
  text-transform: lowercase;
  line-height: 145%;
  font-size: 14pt;
  font-variant: small-caps;
  padding-left: 50px;
  padding-right: 50px;
}

.aboutme #resume{
  text-decoration: none;
  color:grey;
}

.aboutme #resume:hover{
  color: red;
}

.aboutme iframe{
  width:100%;
  height:100%;
}

.aboutMe{
  background-color:black;
  color: white;
  display:none;
}

.photos .item  img{
    height:80%;
    margin: auto;
    border: black 40px solid;
}

#code{
  color: white;
  background-color: black;
  display:none;
  
}

#img6{
  background-color: white;
  text-align: center;
  font-size: 1460%;
}

#img6 a{
  color: black;
}

.mainP{
  width:100%;
  height:100%;
  position:fixed;
  top:0;
  left:0;
  z-index: 100000;
  background-color:rgba(0,0,0,.90);
  display:none;
}

.resume{
  position:fixed;
  top:0;
  left:0;
  z-index: 100000;
  width: 100%;
  display:none;
  float:left;
}

.exit{
  position: absolute;
  top:0;
  right:2%;
  font-size:32px;
  color: white;
}

.exit:hover{
  color: red;
  cursor:default;
}

iframe{
  width:800px;
  height:600px;
  float:left;
}

.newClass{
  display:block;
}

#poetry{
  width:40%;
}

.pc img:hover{
  opacity: 0.4;
  filter: alpha(opacity=40);
}

#wattpad{
  position: absolute;
  left: 30%;
  top: 30%;
  width: 40%;
  height: 40%;
}

#float{
  display: flex;
}

.pc{
  font-size:50px;
  margin-left:10px;
}

.container{
  font-size:60px;
  width:300px;
  padding-left:10px;
  padding-right:10px;
  
  cursor:pointer;
}

.container img{
  width:300px;
}

.container:hover{
  opacity: 0.3;
  filter: alpha(opacity=40); 
}

.art img{
  width: 20%;
  padding: 2.5px;
}

.art{
   display:none;
   background-color:white;
}

.poetry{
  background-color:black;
  color: white;
   display:none;
}







.dropbtn {
    background-color: black;
    color: white;
    padding: 8px;
    font-size: 24px;
    border: none;
    cursor: pointer;
    border-radius: 5%;
}

/* The container <div> - needed to position the dropdown content */
#header .dropdown {
    position: relative;
    display: none;
    font-family: "Adobe Caslon Pro", "Hoefler Text", Georgia, Garamond, Times, serif;
}

/* Dropdown Content (Hidden by Default) */
#header .dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    right:0;
    left:0;
    font-size: 20px;
}

/* Links inside the dropdown */
#header .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
#header .dropdown-content a:hover {
  background-color: black;
  color: white;
}

/* Show the dropdown menu on hover */
#header .dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
#header .dropdown:hover .dropbtn {
    background-color: white;
    color: black;
}

@media only screen and (max-width: 850px) {
   #header .dropdown{
       display: inline-block;
   }
   #header .navbar{
    display: none;
   }
}
